.active{
    color: #FF902B !important;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F6EBDA !important; 
}
main {
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url("assets/img/bg_img_hero\ \(1\).png");
}
.nav-img{
    height: 40px;
}
.nav-form{
    border-radius: 0 20px 20px 0;
}
.icon{
    padding: 0.375rem 0.85rem;
    background: white;
    border-radius: 20px 0 0 20px;
}
textarea:focus, input:focus{
    outline: none;
}
.btn-black{
    background-color: #2F2105;
    color: white;
    border-radius: 20px;
}
.btn-black:hover{
    background-color: #FF902B;
}
#hero > .container{
    margin-bottom: 70px;
}

#bottom{
    background-image: url('assets/img/bg.svg');
    /* background-size: cover; */
    background-repeat: repeat;
}

@media only screen and (max-width: 767px) {
    main {
        background-position: right top;
        background-repeat: no-repeat;
        background-image: url("assets/img/bg_img_hero\ \(2\).png");
    }
    .nav-form{
        border-radius: 20px !important;
        padding-left: 1rem;
    }
    .icon{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.1); }
}